h1{
    font-size: 50px;
}
p{
    font-size: 20px;
}
h2{
  font-size: 25px;
}
        /*まずはお決まりのボックスサイズ算出をborer-boxに */
        *,
        *:before,
        *:after {
          -webkit-box-sizing: inherit;
          box-sizing: inherit;
        }
        
        html {
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          font-size: 62.5%;/*rem算出をしやすくするために*/
        }
        
        .btn,
        a.btn,
        button.btn {
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.5;
          position: relative;
          display: inline-block;
          padding: 1rem 4rem;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          -webkit-transition: all 0.3s;
          transition: all 0.3s;
          text-align: center;
          vertical-align: middle;
          text-decoration: none;
          letter-spacing: 0.1em;
          color: #212529;
          border-radius: 0.5rem;
        }
        a.btn-flat {
  overflow: hidden;

  padding: 1.5rem 6rem;

  color: rgb(255, 255, 255);
  border-radius: 0;
  background: rgb(0, 0, 0);
}

a.btn-flat span {
  position: relative;
}

a.btn-flat:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100px;
  height: 100px;

  content: '';
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-80%) translateY(-25px);
  transform: translateX(-80%) translateY(-25px);

  border-radius: 50%;
  background: #eb6100;
}

a.btn-flat:hover:before {
  width: 400px;
  height: 400px;

  -webkit-transform: translateX(-1%) translateY(-175px);

  transform: translateX(-1%) translateY(-175px);
}
.v-line{
 border-left: thick solid #000;
 height:100%;
 left: 50%;
 position: fixed;
 left: 300px;
}